/**
 * Primary styles
 *
 * Author: Miles Z. Sterrett
 */

body {
  background: #333333 ; 
  font-family: helvetica, arial, clean, sans-serif;
  font-size: 20px;
  line-height: 28px;
  color: #dee2e5;
}

a, a:visited {
  color: #3b8c8a;
  text-decoration: none;
}

a:hover {
  color: #205554;
}

#header-border {
  border-top: 4px solid #3b8c8a;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

header {
  position: absolute;
  left: 20px;
  top: 20px;
  padding: 20px;
  z-index: -10;
}

header h1 {
  font-family: Helvetica, Arial, Verdana, sans-serif;
  font-size: 36px;
  margin-bottom: 40px;
  font-weight: bold;
}

header span.box {
  padding: 4px;
  color: #fff;
  background-color: #000;
  -moz-box-shadow: 0 0 8px #fff;
  -webkit-box-shadow: 0 0 8px #fff;
  box-shadow: 0 0 8px #fff;
}

header h1 a, header h1 a:visited {
  color: #fff;
}

header p {
  font-size: 20px;
  width: 300px;
  margin-bottom: 15px;
}

section p#intro {
  background: #000;
  text-align: left;
  padding: 20px;
  margin: 0 auto 20px auto;
  width: 800px;
  border-radius: 0 0 10px 10px;
}

section p img {
  float: right;
  margin: 10px;
}

section ul {
  list-style-type: none;
}

section ul li.song {
  border-bottom: 4px solid #000;
  padding-bottom: 20px;
  margin-top: 60px;
}

span.my-name {
  font-weight: bold;
}

footer {
  text-align: center;
  color: #999;
  font-size: 12px;
  margin-top: 100px;
}

footer p {
  padding: 10px;
}

#now-playing {
  margin-top: 40px;
}

#now-playing .play-state {
  color: #8c2d30;
}

#jp_container {
  padding: 0;
  margin: 0;
  float:left;
}

#song-description {
  padding: 0 20px;
  margin-left: 140px;
}

#song-description h3 {
  font-size: 24px;
}

#song-description p {
  font-size: 16px;
  line-height: 22px;
}

#jp_container ul {
  margin: 30px 0 0 0;
}

p#jp-time {
  font-size: 16px;
  margin-top: -60px;
  text-align: center;
}

li.jp-control {
  padding: 0;
  margin: 0;
  float:left;
  width: 60px;
  text-align: center;
}

li.play-holder.jp-control {
  padding-top: 12px;
}

li.jp-control a {
  color: #000;
}

li.jp-control a:hover {
  color: #1b1b1b;
  -moz-text-shadow: 0 0 8px #fff;
  -webkit-text-shadow: 0 0 8px #fff;
  text-shadow: 0 0 8px #fff;
}

li.jp-control a:active {
  color: #1b1b1b;
  -moz-text-shadow: 0 0 3px #fff;
  -webkit-text-shadow: 0 0 3px #fff;
  text-shadow: 0 0 3px #fff;
}

a.jp-play {
  font-size: 48px;
}

a.jp-pause {
  font-size: 54px;
}

a.jp-stop {
  font-size: 86px;
}
